@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Noto Sans JP";
}

@keyframes rgb {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

@keyframes ranking {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100%;
    }
}

body{
    color: white;
    background-color: #151320;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p{
    margin: 12px;
}

ul{
    margin: 0;
}

button{
    background-color: #151320;
    border: whitesmoke;
    border-radius: 10%;
    color: white;
}

input{
    max-width: 50px;
    border: solid 1px white;
    border-radius: 10%;
    background-color: #151320;
}

table{
    margin: 0px 12px;
}

td{
    padding: 10px 36px 5px 0px;
}

.borda{
    background-color: #151320;
    position: relative;
    border-radius: 3px;
    margin: 2%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borda::before, .borda::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 8px;
    animation: rgb 8s linear infinite;
}

.borda::after{
    filter: blur(25px);
}

.box{
    padding-left: 25px;
    margin-left: -44%;
}

.debuffs{
    padding: 10px 0px;
}

/* Rankings */

.bronze{
    background: radial-gradient(circle, rgba(255,172,70,1) 0%, rgba(185,102,0,1) 100%);
    background-size: 300% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.prata{
    background: linear-gradient(45deg, #4d4d4d, #d8d8d8, #4d4d4d, #d8d8d8, #ffffff);
    background-size: 400% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.ouro{
    background: radial-gradient(circle, rgba(255,215,0,1) 0%, rgba(218,165,32,1) 100%);
    background-size: 400% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.platina{
    background: linear-gradient(45deg, rgba(92,92,92,1) 0%, rgba(195,214,233,1) 50%, rgba(187,186,186,1) 100%);
    background-size: 300% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.safira{
    background: radial-gradient(circle, rgba(101,161,255,1) 0%, rgba(15,82,186,1) 100%);
    background-size: 400% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.rubi{
    background: radial-gradient(circle, rgba(255,73,141,1) 0%, rgba(224,17,95,1) 100%);
    background-size: 400% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.diamante{
    background: radial-gradient(circle, rgba(185,242,255,1) 0%, rgba(23,212,255,1) 100%);
    background-size: 400% 100%;
    animation: ranking 3s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

.radiante{
    background: linear-gradient(45deg, rgb(165, 0, 165), rgb(224, 13, 224), rgb(255, 29, 255), rgb(165, 0, 165));
    background-size: 400%;
    animation: rgb 10s linear infinite alternate;
    -webkit-background-clip: text;
    color: transparent;
}

/* Fim dos Rankings */

.hidden{
    
}